  <h3>Stock Report Details</h3>
<table class ="profile-report">
    <tbody class ="profile-report">
      <tr>
        <th> 52 Week High<th>
        <td> STOCK_HIGH</td>
      </tr>
      <tr>
        <th> 52 Week Low<th>
        <td> STOCK_LOW</td>
      </tr>
      <tr>
        <th> Market Cap. <th>
        <td> MARKET_CAP</td>
      </tr>
      <tr>
        <th> P/E Ratio <th>
        <td> PE_RATIO</td>
      </tr>
    </tbody>
</table>
