.table-div{
  margin-left: 40%;
  width: 800px;

}

.sub-header{
  margin-top: 70%;
  margin-left: 40%;
  width: 600px;
}

#portfolio-pnl{
  margin-left: 40%;
  width: 300px;
}

.profile-report{
  margin-top: 20px;
  border: 3px solid black;
}
